.DS_Store
.sass-cache
build
Desktop.ini
node_modules
bower_components
src/bower_components
**/*.log
public
src/plugins
gulp/node_modules
Dockerfile
.dockerignore
.git
.gitignore
README.md
**/*.mwb.bak

.DS_Store
.sass-cache
build
Desktop.ini
node_modules
bower_components
**/*.log
public
plugins

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
